@charset "utf-8";

:root {
  --gap: 1rem;
  --font-color: rgb(232, 232, 232);
  --dark-font-color: #97A7B0;
  --dark-background: #2B3542;
  --turquoise: #21C8D4;
  --red: #FD3777;
  --border-radius: 3px;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-background);
}

/* ============================================================================ */
.wrapper {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

input {
  height: 4.3rem;
  width: 5rem;
  text-align: center;
  font-size: 1.9rem;
}

input[type="text"] {
  -webkit-appearance: textfield; /* for Chrome, Safari, Opera */
  -moz-appearance: textfield;    /* for Firefox */
  appearance: textfield;
  border-radius: var(--border-radius);
}


.current-time {
  font-size: 180px;
  line-height: 150px;
  color: var(--font-color);
}

.target-time-container {
  display: none;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  .fa-bell {
    color: var(--dark-font-color);
    font-size: 2.3rem;
  }
}

.target-time {
  font-size: 2.4rem;
  line-height: 3rem;
  color: var(--dark-font-color);
}

input[type="submit"] {
  width: 8rem;
  border-radius: var(--border-radius);
  background-color: var(--red);
  color: var(--font-color);
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 0.2s linear;

  &:hover {
    box-shadow: 0px 0px 10px var(--red);
  }
}

form {
  gap: var(--gap);
  justify-content: center;
}

.form-container span {
  color: var(--red);
  visibility: hidden;
}